## Webapp for clustering and analysing crash hotspots

My first task is trying to get my dataset below 100MB so I can upload the csv to Github and use it on the fly

In [14]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [19]:
df = pd.read_csv('CAS_clean.csv')

df.head()

,Y,X,advisorySpeed,bicycle,bridge,bus,carStationWagon,cliffBank,crashLocation1,crashLocation2,...,unknownVehicleType,urban,vanOrUtility,vehicle,waterRiver,weatherA,weatherB,weight,latitude,longitude
0,2037858.0,5707835.0,0,0,NaN,0,2,NaN,SH 35 WAINUI,HIRINI ST,...,0,Urban,0,NaN,NaN,Fine,None,0.010873,-38.669793,178.031840
1,1799424.0,5815528.0,0,0,NaN,0,2,NaN,HALL ST,LAKE ROAD,...,0,Urban,0,NaN,NaN,Fine,None,0.073374,-37.785862,175.264695
2,1756461.0,5936053.0,0,0,NaN,0,0,NaN,SHARON ROAD,RIDGE ROAD,...,0,Urban,1,NaN,NaN,Fine,None,0.252394,-36.708328,174.751715
3,1551129.0,5171320.0,0,0,0.0,0,2,0.0,SPRINGSTON ROLLESTON ROAD,DYNES ROAD,...,0,Open,0,0.0,0.0,Fine,None,0.065789,-43.609495,172.394398
4,1245391.0,4849172.0,0,0,NaN,0,1,NaN,TWEED ST,INGLEWOOD ROAD,...,0,Urban,1,NaN,NaN,Fine,None,0.017170,-46.417826,168.385299

I am saving the Dataframe as a parquet file to lower the file size below 100MB so I can save to Github

In [20]:
df.to_parquet('app_data.parquet')

In [23]:
# Read the Parquet file into a DataFrame
df = pd.read_parquet('app_data.parquet')