In [7]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aicyb\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [8]:
# Import packages
import pandas as pd
from nltk.stem import PorterStemmer, LancasterStemmer, WordNetLemmatizer
# Instantiate stemmers and lemmatiser
porter = PorterStemmer()
lancaster = LancasterStemmer()
lemmatiser = WordNetLemmatizer()
# Create function that normalises text using all three techniques
def normalise_text(words, pos='v'):
    """Stem and lemmatise each word in a list. Return output in a dataframe."""
    normalised_text = pd.DataFrame(index=words, columns=['Porter', 'Lancaster', 'Lemmatiser'])
    for word in words:
        normalised_text.loc[word,'Porter'] = porter.stem(word)
        normalised_text.loc[word,'Lancaster'] = lancaster.stem(word)
        normalised_text.loc[word,'Lemmatiser'] = lemmatiser.lemmatize(word, pos=pos)
    return normalised_text

In [9]:
# We will start with 10 arbitrary nouns and compare their normalised forms:

normalise_text(['apples', 'pears', 'tasks', 'children', 'earrings', 'dictionary', 'marriage', 'connections', 'universe', 'university'], pos='n')

                 Porter Lancaster  Lemmatiser
apples             appl      appl       apple
pears              pear      pear        pear
tasks              task      task        task
children       children    childr       child
earrings            ear       ear     earring
dictionary   dictionari      dict  dictionary
marriage        marriag     marry    marriage
connections     connect   connect  connection
universe        univers   univers    universe
university      univers   univers  university

In [10]:
normalise_text(['pie', 'globe', 'house', 'knee', 'angle', 'acetone', 'time', 'brownie', 'climate', 'independence'], pos='n')

                Porter Lancaster    Lemmatiser
pie                pie       pie           pie
globe            globe      glob         globe
house             hous      hous         house
knee              knee       kne          knee
angle             angl      angl         angle
acetone         aceton    aceton       acetone
time              time       tim          time
brownie         browni    browny       brownie
climate         climat      clim       climate
independence  independ  independ  independence

In [11]:
# Now, letâ€™s look at some verbs:

normalise_text(['wrote', 'thinking', 'remembered', 'relies', 'ate', 'gone', 'won', 'ran', 'swimming', 'mistreated'], pos='v')

              Porter Lancaster  Lemmatiser
wrote          wrote      wrot       wrote
thinking       think     think    thinking
remembered    rememb    rememb  remembered
relies          reli      rely      relies
ate              ate        at         ate
gone            gone       gon        gone
won              won       won         won
ran              ran       ran         ran
swimming        swim      swim    swimming
mistreated  mistreat      mist  mistreated